@charset "UTF-8";
#join_table{
			width: 1000px;
			margin: 0 auto;
			padding-top: 100px;
			text-align: center;
		}
		#join_table #join_form table {
			width: 1000px;
		}
		#join_table #join_form table caption {
			font-size: 2em;
			padding: 10px;
			color: #596E37;
		}
		#join_table #join_form table tr td {
			padding: 5px;
		}
		#join_table #join_form table tr td input:not(.btn) {
			width: 300px;
			height: 35px;
			padding: 4px;
			border: 1px solid gray;
			box-sizing: border-box;
		}
		#join_table #join_form table tr td input:focus:not(#bispic){
			outline: 1px solid #596E37;
		}
		#join_table #join_form table .btn {
			width: 300px;
			height: 40px;
			border: 1px solid #596E37;
			background-color: #596E37;
			color: white;
			cursor: pointer;
		}
		#join_table #join_form table .btn:hover {
			border: none;
			background-color: #92B35E;
		}
		#join_table #join_form table .btn:active {
			border: none;
		}
		#join_table #join_form table div:not(div[id $= '_title']){
			padding-top: 5px;
			font-size: 0.7em;
			height: 10px;
		}
		#join_table #join_form table tr td div[id $= '_title'] {
			font-size: 0.9em;
			color: grey;
			margin-bottom: 5px;
		}
		#join_table #join_form table tr td #hacc_bankname {
			width: 300px;
			height: 35px;
			padding: 4px;
			border: 1px solid gray;
			box-sizing: border-box;
			color: grey;
		}
		#join_table #join_form table div b {
			color: red;
			font-weight: normal;
		}